listen on 0.0.0.0 port 25
accept from any for any relay via smtp://{{ if service "mail" }}{{ range service "mail" }}{{ .Address }}:{{ .Port }}{{ end }}{{ else }}mail.weave.local:10025{{ end }}
reject from any for any
